@media (max-width: 991px) {
  .page-banner-wrap2 {
    padding-top: 110px;
    padding-bottom: 90px;
  }
}
@media (max-width: 767px) {
  .page-banner-wrap2 {
    padding-top: 80px;
    padding-bottom: 70px;
  }
}/* Responsive Full Background Image Using CSS
 * Tutorial URL: http://sixrevisions.com/css/responsive-background-image/
*/


.page-banner-wrap2::before {
  position: absolute;
  left: 0;
  content: "";
  top: 0;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
}
.page-banner-wrap2 .page-heading2 h1 {

  line-height: 150%;
  margin: auto;
  text-align: center;
}
@media (max-width: 991px) {
  .page-banner-wrap2 .page-heading2 h1 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .page-banner-wrap2 .page-heading2 h1 {
    font-size: 20px;
  }
}











.page-banner-wrap2 {
  background-color: #001659;
  padding-top: 140px;
  padding-bottom: 120px;
  position: relative;
  z-index: 1;
}


.page-banner-wrap2 {
  position: relative;
}
.page-banner-wrap2 .breadcrumb-wrap2 {
  overflow: hidden;
}
.page-banner-wrap2 .breadcrumb {
  background: transparent;
  padding: 0;
  margin-top: 20px;
  margin: auto;
  text-align: center;
}
.page-banner-wrap2 .breadcrumb li {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
.page-banner-wrap2 .breadcrumb li a {
  color: #FF5E14;
  font-weight: 500;
}
.page-banner-wrap2 .breadcrumb li a:hover {
  color: #fff;
}
.page-banner-wrap2 .breadcrumb li + li::before {
  color: #fff;
  content: "\f054";
  font-family: "Font Awesome 5 Pro";
  font-size: 14px;
}



.bg-cover2 {
  background-image: url('images/sus55.png') !important;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}





  
 








  

  
  h1 .button2 {
    display: inline-block;
    margin-top: 20px;
    padding: 6px 8px;
    font-size: 20px;
    color: #cafaea;
    border: 1px solid #cafaea;
    border-radius: 3px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
   margin: auto;
  }
  
