.obj{
object-fit: fill;
width: 100%    !important;
height: 100%   !important;
}

.dae{
    padding: 42.71% 0 0 0;
     position: relative;
     background-color: black;

}
@media only screen and (max-width: 600px) {
    .dae{
        padding: 40% 0 40% 0;
     
    }
}
@media only screen and (max-width: 750px) {
    .dae{
        padding: 45% 0 45% 0;
     
    }
}
@media only screen and (max-width: 450px) {
    .dae{
        padding: 45% 0 45% 0;
     
    }
}