.media {
    width: 100%;
    height: 30rem;
    object-fit: contain;
  }
  
  .carousel {
    position: relative;
  }
  
  .item {
    background-color: black;
  }
  
  .index {
    position: absolute;
    top: 0.1rem;
    font-size: 0.7rem;
    font-weight: bold;
    font-family: Roboto;
    color: black;
    padding: 0.1rem 0.3rem;
    background-color: lightgray;
    left: 1rem;
    opacity: 0.75;
  }
  
  .caption-container {
    position: absolute;
    bottom: 0;
    left: 20rem;
    right: 20rem;
  }
  
  .caption {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: Roboto;
    background-color: lightgray;
    color: black;
    width: fit-content;
    margin: 0 auto;
    opacity: 0.75;
  }
  
  .btn-prev,
  .btn-next {
    position: absolute;
    font-size: 50px;
    color: lightgray;
    cursor: pointer;
    top: 13rem;
  }
  .btn-prev {
    left: 1rem;
  }
  .btn-next {
    right: 1rem;
  }
  




.obj{
object-fit: fill;
width: 100%    !important;
height: 100%   !important;
}

.dae{
    padding: 42.71% 0 0 0;
     position: relative;
     background-color: black;

}
@media only screen and (max-width: 600px) {
    .dae{
        padding: 40% 0 40% 0;
     
    }
}
@media only screen and (max-width: 750px) {
    .dae{
        padding: 45% 0 45% 0;
     
    }
}
@media only screen and (max-width: 450px) {
    .dae{
        padding: 45% 0 45% 0;
     
    }
}

title{
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    text-decoration: underline 4px;
}


.questions-container{
    max-width: 800px;
    margin: 0 auto;
}

.question{
    border-bottom: 1px solid #fff;
}
.question button{
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
.question p{
    font-size: 22px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}
.d-arrow{
    transition: transform 0.5s ease-in ;
    color: #fff;
}

/*add this class when click*/
.question p.show{
    max-height: 200px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}
.question button .d-arrow.rotate{
    transform: rotate(180deg);
}
